<div class="" data-ng-controller="CarbusinessController">
  <h1>Example view from your new awesome package</h1>
  <h2>Package: {{package.name}}</h2>
  <ol>
    <li>
      <a href="carbusiness/example/anyone">Server route that anyone can access</a>
    </li>
    <li>
      <a href="carbusiness/example/auth">Server route that requires authentication</a>
    </li>
    <li>
      <a href="carbusiness/example/admin">Server route that requires admin user</a>
    </li>
    <li>
      <a href="carbusiness/example/render">Raw Html rendering example from using swig</a>
    </li>
  </ol>
  <h3><img src="/carbusiness/assets/img/logo.png" /></h3>
  </br>
  <p class="alert alert-info">You can find your package in /packages/carbusiness</p>
  </br>
  <p class="alert alert-warning">MEAN versions prior to 0.3.2 will be in /node_modules/carbusiness</p>
  </br>
  <h3><a href="http://www.mean.io/#!/docs">Documentation</a></h3>
  </br>
</div>

